/**
 * TYPE
 *
 * Style for UI element representing an entity type
 */

/* ------------------------------------ *\
   #TYPE
\* ------------------------------------ */

.pnd-type {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    margin: 0 3px 3px 0;
    padding: 0 4px;

    background-color: $type-color-bg;
    border: $type-border-size solid $type-color-border;

    color: $type-color-text;
    list-style: none;
    // font-family: $font;
    line-height: 19px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #FFF;
    border-radius: 3px;
}