/**
 * HOME LAYOUT
 *
 * layout settings
 */

/* ------------------------------------ *\
   #HOME LAYOUT
\* ------------------------------------ */

.content-home {

    .content-wrap {
        padding: 36px;
        text-align: center;
    }

    h1.home-heading {
        margin-bottom: 25px;
    }

    img {
        margin-bottom: 25px;
    }

    .area-primary {
        margin-bottom: 25px;

        p {
            margin-bottom: 15px;
        }
    }
}



